In [3]:
# The List Data Type
[1, 2, 3]

[1, 2, 3]

In [4]:
['lion', 'goat', 'dove', 'mouse']

['lion', 'goat', 'dove', 'mouse']

In [5]:
['hi', 5.345, 'True', None, 54]

['hi', 5.345, 'True', None, 54]

In [6]:
spam = ['lion', 'goat', 'dove', 'mouse']  #spam variable is still assigned only one value: the list value

In [7]:
spam

['lion', 'goat', 'dove', 'mouse']

In [8]:
bam = []  #the value is empty list that contains no  value similar to '', the empty string

In [9]:
bam

[]

In [10]:
# Getting Individual Vaalues in a List with indexes

spam = ['lion', 'goat', 'dove', 'mouse']

In [11]:
spam[0]

'lion'

In [12]:
spam[1]

'goat'

In [13]:
spam[2]

'dove'

In [14]:
spam[3]

'mouse'

In [17]:
['lion', 'goat', 'dove', 'mouse'][3]

'mouse'

In [19]:
'Hello, ' + spam[0]

'Hello, lion'

In [21]:
'The ' + spam[0] + ' ate the ' + spam[1] + '.'

'The lion ate the goat.'

In [22]:
spam = ['lion', 'goat', 'dove', 'mouse']

In [23]:
spam[2000] #ERROR: if you use the index that exceeds the number of values in your list value

IndexError: list index out of range

In [24]:
# The index can be only integer value, not foats
spam = ['lion', 'goat', 'dove', 'mouse']

In [25]:
spam[1]

'goat'

In [26]:
spam[1.0] #ERROR: Type error because value is float

TypeError: list indices must be integers or slices, not float

In [27]:
# Lists can also contain other list values.
spam = [['lion', 'goat'], [10, 20, 30, 40, 50]]

In [32]:
spam[0] #if you only use the one index the program will print the full list value at that index

['lion', 'goat']

In [29]:
spam[0][1]  #values in these accessed using multiple indexes,like so

'goat'

In [31]:
spam[1][4]

50

In [33]:
# Negative indexes
spam = ['lion', 'goat', 'dove', 'mouse']

In [34]:
spam[-1]

'mouse'

In [35]:
spam[-3]

'goat'

In [36]:
'The ' + spam[-1] + ' afraid of the ' + spam[-3] + '.'

'The mouse afraid of the goat.'

In [38]:
# The the List from Another List with slices
spam = ['lion', 'goat', 'dove', 'mouse']

In [45]:
spam[0:4]  # first integer is the index where the slice starts. The second integer is the index where the slice ends. but will not include, the value at the second index.

['lion', 'goat', 'dove', 'mouse']

In [40]:
spam[1:3]

['goat', 'dove']

In [41]:
spam[0:-1]

['lion', 'goat', 'dove']

In [42]:
spam[:2]

['lion', 'goat']

In [43]:
spam[1:]

['goat', 'dove', 'mouse']

In [44]:
spam[:]

['lion', 'goat', 'dove', 'mouse']

In [46]:
# Getting a List's Length with the len() Functioin
spam = ['lion', 'goat', 'dove', 'mouse']

In [47]:
len(spam)

4

In [48]:
# Changing values in list with indexes
spam = ['lion', 'goat', 'dove', 'mouse']

In [49]:
spam[1] = 'gadsasd'

In [50]:
spam

['lion', 'gadsasd', 'dove', 'mouse']

In [51]:
spam[2] = spam[1]

In [52]:
spam

['lion', 'gadsasd', 'gadsasd', 'mouse']

In [53]:
spam[-1] = 12345

In [54]:
spam

['lion', 'gadsasd', 'gadsasd', 12345]

In [55]:
# List Concatenation and List Replication
[1, 2, 3] + ['A', 'B', 'C']  # + operator combines two lists and create new list

[1, 2, 3, 'A', 'B', 'C']

In [56]:
['X', 'Y', 'Z'] * 3  # * operator used, integer value to replicate the list

['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z']

In [57]:
spam = [1, 2, 3]

In [58]:
spam = spam + ['A',  'B', 'C']

In [63]:
spam

[1, 2, 3, 'A', 'B', 'C']

In [64]:
# Removing Values from Lists with del Statements
spam = ['lion', 'goat', 'dove', 'mouse']

In [65]:
del spam[2] #del used to delete mostly values from lists

In [66]:
spam

['lion', 'goat', 'mouse']

In [67]:
del spam[2]

In [68]:
spam

['lion', 'goat']

In [70]:
# Working with Lists
# this is bad way to write code
catName1  = 'Zophie' 
catName2 = 'Pooka'
catName3 = ' Simon'
catName4 = 'Lady Macbeth'
catName5 = 'Fat-tail'
catName6 = 'Miss Cleo'

In [71]:
catName1

'Zophie'

In [1]:
print('Enter the name of cat 1:')
catName1 = input()
print('Enter the naem of cat 2:')
catName2 = input()
print('Enter the name of cat 3:')
catName3 = input()
print('Enter the name of cat 4:')
catName4 = input()
print('Enter the name of cat 5:')
catName5 = input()
print('Enter the name of cat 6:')
catName6 = input()
print('The cat names are:')
print(catName1 + ' ' + catName2 + ' ' + catName3 + ' ' + catName4 + ' ' + catName5 + ' ' + catName6)

Enter the name of cat 1:
Zophie
Enter the naem of cat 2:
Pooka
Enter the name of cat 3:
Simon
Enter the name of cat 4:
Lady Macbeth
Enter the name of cat 5:
Fat-tail
Enter the name of cat 6:
Miss Cleo
The cat names are:
Zophie Pooka Simon Lady Macbeth Fat-tail Miss Cleo

In [2]:
# using a single variable that contains a list value
catNames = []
while True:
    print('Enter the name of cat ' + str(len(catNames) + 1) +
         ' (or enter nothing to stop.):')
    name = input()
    if name == '':
        break
    catNames = catNames + [name]  #list concatenation
print('The cat names are:')
for name in catNames:
    print(' ' + name)

Enter the name of cat 1 (or enter nothing to stop.):
billi
Enter the name of cat 2 (or enter nothing to stop.):
sweeti
Enter the name of cat 3 (or enter nothing to stop.):
mano
Enter the name of cat 4 (or enter nothing to stop.):
isbella
Enter the name of cat 5 (or enter nothing to stop.):
lizbat
Enter the name of cat 6 (or enter nothing to stop.):
haseena
Enter the name of cat 7 (or enter nothing to stop.):

The cat names are:
 billi
 sweeti
 mano
 isbella
 lizbat
 haseena

In [3]:
# Using for loop with Lists
for i in range(4):  #repeats the code block once for each item in a list value
    print(i)

0
1
2
3

In [4]:
# The following program has the same output as the previous one
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

In [9]:
supplies = ['pens', 'stapplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
    print('index ' + str(i) + ' in supplies is: ' + supplies[i] )

index 0 in supplies is: pens
index 1 in supplies is: stapplers
index 2 in supplies is: flamethrowers
index 3 in supplies is: binders

In [11]:
# The in and not in Operators
'hey' in ['bye', 'hello', 'hey', 'how']

True

In [12]:
spam = ['bye', 'hello', 'hey', 'how']

In [14]:
'whose' in spam

False

In [16]:
'how' in spam

True

In [18]:
'how' not in spam

False

In [20]:
'dog' not in spam

True

In [1]:
myPets = ['Isbella', 'Fattie', 'Jango']
print('Enter a pet name:')
name = input()
if name not in myPets:
    print('I do not have pet named ' + name)
    
else:
    print(name + ' is my pet.')

Enter a pet name:
Jango
Jango is my pet.

In [2]:
# The Multiple Assignment Trick
cat = ['fat', 'gray', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[2]

In [4]:
# you could type this line of code
cat = ['fat', 'grey', 'loud']
size, color, disposition = cat

In [6]:
# the number of variables and the length of the list must be exactly equal, or python will give you a ValueError
cat = ['fat', 'grey', 'loud']
size, color, disposition, name = cat  #ValueError

ValueError: not enough values to unpack (expected 4, got 3)

In [18]:
# Using the enumerate() Function with Lists
supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for index, item in enumerate(supplies):
    print('index' + str(index) + ' in supplies is: ' + item)

index0 in supplies is: pens
index1 in supplies is: staplers
index2 in supplies is: flamethrowers
index3 in supplies is: binders

In [40]:
# Using the random.choice() and random.shuffle() Functions with Lists
import random
pets = ['Dog', 'Cat', 'Moose']
random.choice(pets)    #randomly selects the items in the List

'Moose'

In [52]:
# random.shuffle modifies the list in place, rathr than returning a new list
import random
people = ['Arham', 'Azlan', 'Faraz', 'Urwa']
random.shuffle(people)    #reorder the items in a list

In [53]:
people

['Arham', 'Urwa', 'Faraz', 'Azlan']

In [1]:
# Augmented Assignment Operators
bam = 50
bam = bam + 1

In [2]:
bam

51

In [3]:
bam = 50
bam += 1

In [4]:
bam

51

In [5]:
bam = 'Hello'   # += operator can also do string and list concatenation
bam += ' world!'

In [6]:
bam

'Hello world!'

In [9]:
bacon = ['isbella']  # *= operator can do string and list replication
bacon *= 4

In [10]:
bacon

['isbella', 'isbella', 'isbella', 'isbella']

In [15]:
# Methods
# Finding a value in a list with the index() Method
bam = ['you', 'how', 'who', 'hey']
bam.index('hey')

3

In [16]:
bam.index('how')

1

In [18]:
bam.index('how', 'how', 'how')  #ERROR

TypeError: slice indices must be integers or have an __index__ method

In [20]:
# When there is a duplicate in of the value in the list, the index of t its first appearance is returned
bam = ['Isbella', 'Monica', 'Isbella', 'Sweeti']
bam.index('Isbella')

0

In [21]:
# Adding Values to Lists with the append() and insert Methods
bam = ['lion', 'goat', 'dove']
bam.append('bufflo')  # adds the argument at the end of the list

In [22]:
bam

['lion', 'goat', 'dove', 'bufflo']

In [27]:
# Methods belong to a single data type. append() and insert() are list Method
bam = ['lion', 'goat', 'dove']
bam.insert(1, 'cat')  #it can insert a value at any value index

In [28]:
bam

['lion', 'cat', 'goat', 'dove']

In [29]:
eggs = 'hello'
eggs.append('world')  #ERROR: because its list Method

AttributeError: 'str' object has no attribute 'append'

In [30]:
becon = 50
becon.insert(1, 'world') #ERROR: CAUSE its list Mehod

AttributeError: 'int' object has no attribute 'insert'

In [32]:
# Removing Values from Lists with the remove() Method
bam = ['lion', 'goat', 'dog', 'cow']
bam.remove('goat')

In [33]:
bam

['lion', 'dog', 'cow']

In [34]:
# Attempting to delete a value that does not exist in the list will result in a ValueError
bam = ['lion', 'dove', 'cow', 'dove']
bam.remove('goat')  #ERROR

ValueError: list.remove(x): x not in list

In [39]:
# if the value appears multiple times in the list, only the first instance of the value will be removed 
# del statement is good to use when you know the index of the value you want to remove from the list
# remove() method is useful when you know the value you want to remove from the list
bam = ['lion', 'goat', 'cat', 'dog', 'lion']
bam.remove('lion')

In [40]:
bam

['goat', 'cat', 'dog', 'lion']

In [1]:
# Sortiing the Values in al list with the sort() Method
bam = [3, 8, 4.23, -6]
bam.sort()

In [2]:
bam

[-6, 3, 4.23, 8]

In [3]:
bam = ['horse', 'ants', 'scorpio', 'elephent']
bam.sort()

In [4]:
bam

['ants', 'elephent', 'horse', 'scorpio']

In [6]:
bam.sort(reverse = True)

In [7]:
bam

['scorpio', 'horse', 'elephent', 'ants']

In [8]:
# don't mix a numbers and strings otherwhise you get an errror

bam = [1, 3, 2, 4, 'Ali', 'Bobby']
bam.sort()  #TypeError

TypeError: '<' not supported between instances of 'str' and 'int'

In [9]:
bam = ['Ali', 'ali', 'Bobby', 'bobby', 'Carol', 'carol']
bam.sort()

In [10]:
bam

['Ali', 'Bobby', 'Carol', 'ali', 'bobby', 'carol']

In [11]:
bam = ['a', 'z', 'A', 'Z']
bam.sort(key=str.lower)

In [12]:
bam

['a', 'A', 'z', 'Z']

In [15]:
# Exceptions To indedttation Rules in Python
# you can also write list this way
bam = ['strawberry', 
    'watermelon',
                        'mango',
'fox']    #python knows list is not finished until it sees the ending square bracket

In [16]:
bam

['strawberry', 'watermelon', 'mango', 'fox']

In [18]:
print('Four score and seven ' + \
     'years ago ... ' + \
                           'that is great')

Four score and seven years ago ... that is great

In [22]:
# Example Program: Magic 8 Ball with a List
import random

messages = ['It is certain', 
    'It is decidedly so',
    'Yes definitely',
    'Reply hazy try again',
    'Ask again later',
    'concentrate and ask again',
    'My reply is no',
    'outlook not so good',
    'very doubtful']
print(messages[random.randint(0, len(messages) - 1)])

It is decidedly so

In [23]:
# Sequence Data Types
# Many of the  things you can do with the list you can also do with strings
name = 'Isbella'
name[0]

'I'

In [24]:
name[-2]

'l'

In [25]:
name[0:4]

'Isbe'

In [26]:
'Is' in name

True

In [27]:
'is' in name

False

In [28]:
'i' in name

False

In [29]:
'p' not in name

True

In [31]:
'e' not in name

False

In [32]:
for i in name:
    print('!!!!! ' + i + ' !!!!!' )

!!!!! I !!!!!
!!!!! s !!!!!
!!!!! b !!!!!
!!!!! e !!!!!
!!!!! l !!!!!
!!!!! l !!!!!
!!!!! a !!!!!

In [33]:
# Mutable and Immutable Data Types
name = 'Isbella a cat'
name[9] = 'the    #TypeError': cause string is immutable

SyntaxError: invalid syntax (2688068168.py, line 3)

In [40]:
# Proper way to mutate a string is slicing and concatenation to buil a new string by copying from parts of the old sring
# orignal 'Isbella a cat' string will not be modify, because strings are immutable
name = 'Isbella a cat'
newName = name[0:8] + 'the' + name[9:14]

In [41]:
name

'Isbella a cat'

In [42]:
newName

'Isbella the cat'

In [43]:
# Although a list value is mutable
# The second line in the following code does not modify the list eggs
cookies = [2, 3, 4]
cookies = [5, 6, 7]   #The list value in cookies isn't changed here; rather , new and different list value([5, 6, 7]) is overwriting the old list value([2, 3, 4])

In [44]:
cookies

[5, 6, 7]

In [56]:
# if wanted to actually modify the original list in cookies to contain [5, 6, 7], do this
cookies = [2, 3, 4]
del cookies[2]
del cookies[1]
del cookies[0]
cookies.append(5)
cookies.append(6)
cookies.append(7) #you changed the riginal list

In [57]:
cookies

[5, 6, 7]

In [58]:
#You can delete and insert value at the same index
del cookies[1]
cookies.insert(1, 8)

In [59]:
cookies

[5, 8, 7]

In [64]:
# The Tuple Data Type
cookies = ('hello', 43, 0.9)
cookies[0]

'hello'

In [65]:
cookies[1:3]

(43, 0.9)

In [66]:
len(cookies)

3

In [67]:
'''Tuple are Immmutable like strings thats whay you can't modifiy, appended, or removed'''
cookies[1] = 99   # TypeError

TypeError: 'tuple' object does not support item assignment

In [71]:
'''If you have only one value in your tuple, you can indicate this by placing
a trailing sommma after the value inside the parentheses'''

type(('hello',))

tuple

In [72]:
type(('hello'))

str

In [74]:
type(['hello',])

list

In [75]:
#Converting Types with the list() and tuple() Function
str('42')

'42'

In [76]:
tuple(['lion', 'deer', 'goat', 'dog'])

('lion', 'deer', 'goat', 'dog')

In [79]:
list(('lion', 'deer', 'goat', 5))

['lion', 'deer', 'goat', 5]

In [80]:
list(('hello'))

['h', 'e', 'l', 'l', 'o']

In [88]:
# References
spam = 42  #Technically variables are storing references to the copmuter memory where the values are stored
# intergers are immutable like strings and tuples
cheese = spam
spam

42

In [89]:
cheese

42

In [92]:
spam = 100 # Creating a new value, completly different value in memory

In [93]:
cheese

42

In [94]:
# But lists don't work this way, because list values can change; that is mutable
spam = [0, 1, 2, 3, 4, 5]
cheese = spam  #The reference is beign copied, not the list
cheese[1] = 'Hello!'  # This changes th list value

In [95]:
spam

[0, 'Hello!', 2, 3, 4, 5]

In [96]:
cheese   # the cheese variable refers to tne same list.

[0, 'Hello!', 2, 3, 4, 5]

In [100]:
# Identity and the id() Function
# id('how'), id creates the 'how' string in the computer memory
# 'how' is immutable
id('How') #The returned number will be different on yur machine.

1682138802352

In [101]:
bacon = 'Hello'

In [102]:
id('Hello')

1682138669104

In [103]:
bacon += 'world'  # A new string is made from 'Hello' and 'world!'.

In [104]:
id(bacon)  #bacon now refers to a completely different string.

1682139044912

In [105]:
# However, lists can be modified because they are mutable objects.

cookies = ['lion', 'deer'] #This creats a new list.

In [106]:
id(cookies)

1682138718720

In [111]:
cookies.append('dolphin')  #append() modifies th list "in place".

In [109]:
cookies

['lion', 'deer', 'dolphin']

In [110]:
id(cookies)  #cookies still refers to the same  list as before.

1682138718720

In [112]:
cookies = ['rat', 'rabbit', 'buffalo'] # This creats a new list,  which has a new identity.

In [113]:
id(cookies)  # cookies now refers to a completly different list.

1682138669504

In [114]:
# Passing References
def cookies(someParameter):
    someParameter.append('Hello')
    
    
spam = [1, 2, 3]
cookies(spam)
print(spam)

[1, 2, 3, 'Hello']

In [115]:
# The copy Module's copy() and deepcopy() Functions
import copy
spam = ['A', 'B', 'C', 'D']
id(spam)

1682138917184

In [116]:
cheese = copy.copy(spam)

In [117]:
id(cheese)   #cheese list with different identitiy

1682138699264

In [118]:
cheese

['A', 'B', 'C', 'D']

In [119]:
cheese[1] = 45

In [120]:
spam

['A', 'B', 'C', 'D']

In [121]:
cheese

['A', 45, 'C', 'D']

In [10]:
# comma code
spam = ['apples', 'bananas', 'tofu', 'cats']
def list_thing(list):
    new_string = ''
    for i in list:
        new_string = new_string + str(i)
        if list.index(i) == (len(list)-2):
            new_string = new_string + ', and '
        elif list.index(i) == (len(list)-1):
                new_string = new_string
        else:
            new_string = new_string + ', '
    return new_string
print(list_thing(spam))

apples, bananas, tofu, and cats

In [21]:
# Coin Flip Streaks
import random
# variable declaration

numberOfStreaks = 0 
CoinFlip = []
streak = 0

for experimentNumber in range(10000):
    # Code that creates a list of 100 'heads' or 'tail' values.
    for i in range(100):
        CoinFlip.append(random.randint(0,1))
    #does not matter if it is 0 or 1, H or T, peas or lentils. I am going to check if there
    
    # Code that checks there is streak of 6 heads or tails in row.
    for i in range(len(CoinFlip)):
            if i==0:
                pass
            elif CoinFlip[i] == CoinFlip[i-1]: #ckecks if current list item is the same as before
                streak += 1
            else:
                streak = 0
            
            if streak == 6:
                numberOfStreaks += 1
    CoinFlip = []
print('chance of streak: %s%%' % (numberOfStreaks / (100*10000)))

chance of streak: 0.0077%

In [57]:
# character Picture Grid
grid = [['.', '.', '.', '.', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['.', 'O', 'O', 'O', 'O', 'O'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.']]

newString = ''

for i in range(len(grid)):
    newString += str(grid[i][0])
    
newString1 = '\n'
for i in range(len(grid)):
    newString1 += str(grid[i][1])
    
newString2 = '\n'
for i in range(len(grid)):
    newString2 += str(grid[i][2])
    
newString3 = '\n'
for i in range(len(grid)):
    newString3 += str(grid[i][3])
    
newString4 = '\n'
for i in range(len(grid)):
    newString4 += str(grid[i][4])
    
newString5 = '\n'
for i in range(len(grid)):
    newString5 += str(grid[i][5])
    
print(newString+newString1+newString2+newString3+newString4+newString5)

..OO.OO..
.OOOOOOO.
.OOOOOOO.
..OOOOO..
...OOO...
....O....