In [2]:
# This Program says hello and asks for my name.

print('What is your name?')    #ask for their name
myName = input()      #input() always return a string, even you enters a number
print('it is good to meet you, ' + myName)
print('The length of your name')
print(len(myName))     #print integer value of the number of character
print('What is your age? ')    #ask for their age
myAge = input()
print('You will be ' + str(int(myAge) + 1) +
      ' in a year')

What is your name?
Faraz
it is good to meet you, Faraz
The length of your name
5
What is your age?
29
You will be 30 in a year

In [6]:
#You can also use this function to put a blank line on the screen; just call print() 
# with nothing in between the parentheses

print('i love data science')
print()
print('i love to be a data analyst')

i love data science

i love to be a data analyst

In [7]:
len('hello')

5

In [8]:
len('My very energetic monster just scarfed nachos.')

46

In [9]:
len('')

0

In [10]:
# The str(), int(), and float() Functions

str(29)    #returns a string

'29'

In [13]:
print('I am ' + str(29) + ' years old.')

I am 29 years old.

In [14]:
str(0)

'0'

In [15]:
str(-3.14)

'-3.14'

In [22]:
int('82')

82

In [23]:
int('-98')

-98

In [24]:
int(1.25)

1

In [25]:
int(1.99)

1

In [26]:
float('2.45')

2.45

In [21]:
float(30)

30.0

In [29]:
bam = input()    #returns string

203

In [31]:
bam

'203'

bam = int(bam)

In [32]:
bam = int(bam)   #returns integer

In [33]:
bam

203

In [34]:
bam * 45 / 4

2283.75

In [36]:
int(44.34)     #int() is useful for rounding a floating-point number

44

In [37]:
int(3.3) + 1

4

In [38]:
int('99.88')   #this will show an error

ValueError: invalid literal for int() with base 10: '99.88'